*{
    background-color: rgba(red, green, blue, alpha);
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body.body{
    display: inline;
}

.home-title#main{
    color:whitesmoke;
    background-color: grey;
    padding-top: 65px;
    width: 350px;
    height: 170px;
    display: block;
    margin: 0;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 5px;
    text-align: center;
}

.hat{
    margin-top: 97px;
    margin-bottom: -97px;
    margin-left: 60px;
    width: 50px;
    height: 50px;
    border: 0;
}

ul#home{
    display: inline-block;
    background-color: blueviolet;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 10px;
    width: 150px;
}
.link{
    color: aliceblue;
}